.navbar {
  align-items: center;
  background: var(--color-primary);
  justify-content: space-between;
  height: 80px;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
}

.navbar nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  padding: 0;

  @media (min-width: 24rem) {
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
}

.navbar nav a {
  border-radius: 8px;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar nav a:hover,
.navbar nav a[aria-current] {
  background: var(--color-primary-dark)
}

.navbar > div {
  height: -webkit-fill-available;
}

.logo {
  object-fit: contain;
  height: 100%;
  width: auto;
}