.profileCard {
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  padding: 24px;
  @media (min-width: 40rem) {
    flex-direction: row;
  }
}

.nameAndRoles {
  align-items: center;
  @media (min-width: 40rem) {
    align-items: flex-start;
  }
}

.athleteDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  @media (min-width: 40rem) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.socialIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: Move styles into new Button component */
.copyLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #009F9A;
  border-radius: 4px;
  background: transparent;
  color: #009F9A;
  font-weight: bold;
  cursor: pointer;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #52525B;
  margin: 0;
}

.detailLabel {
  font-size: 14px;
  font-weight: 500;
  color: #71717A;
  margin: 0;
}

.detailValue {
  font-size: 14px;
  font-weight: 700;
  color: #52525B;
  margin: 0;
}
