.avatarContainer {
  position: relative;
  width: 100%;

  @media (min-width: 40rem) {  /* --breakpoint-sm: 640px */
    height: 225px;
    width: 225px;
  }
}

.avatarImage {
  border: 3px solid #009F9A;
  border-radius: 50%;
  height: 80px;
  object-fit: cover;
  width: 80px;

  @media (min-width: 40rem) {  /* --breakpoint-sm: 640px */
    height: 225px;
    width: 225px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #D9D9D9;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #009F9A;

  @media (min-width: 40rem) {  /* --breakpoint-sm: 640px */
    height: 225px;
    width: 225px;
  }
}

.initials {
  font-size: 3rem;
  font-weight: bold;
  color: #009F9A;
  text-transform: uppercase;
}
