@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/metropolis/Metropolis-SemiBold.otf") format("opentype");
  font-weight: semi-bold;
  font-style: normal;
}

:root {
  --breakpoint-desktop: 24rem; /* 384px --breakpoint-sm */ 
  --color-primary: #009F9A; /* ISA Green */
  --color-primary-dark: #0A6564;
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);
  --font-metropolis: "Metropolis", sans-serif;
}

/* Also covers tablets in portrait and landscape mode */
@custom-variant desktop (@media (width >= theme(--breakpoint-sm)));

body {
  background-color: white;
  color: var(--color-neutral-700, #3F3F46);
  font-family: var(--font-metropolis);
  margin: 0;
}

h3 {
  color: var(--color-neutral-700, #3F3F46);
  font-size: var(--Font-size-H3, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin-bottom: 16px;
}

.stack {
  display: flex;
  flex-direction: column;
}

.cluster {
  display: flex;
  flex-direction: row;
}
