.chevron {
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s;
}

.chevronOpen {
  transform: rotate(180deg);
}

.chevronLight {
  color: var(--color-neutral-50);
}

.chevronDark {
  color: var(--color-neutral-700);
}